@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-book-dark text-book-light antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .text-shadow-book {
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  }
}
